<button type="button" class="border border-light-gray p-4 rounded-3xl cursor-pointer duration-200 hover:bg-light-gray">
  @Suggestion
</button>

@code {
  [Parameter]
  public string? Suggestion { get; set; }
}